<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=2.0">
        <script src="https://unpkg.com/vue@3.0.2"></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
        <title>Tweeter of Politics</title>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="module" src="app.js" defer></script>
    </head>
    <body>
        <div id="app">
        <div class="column is-8 is-offset-1" id="Search">
            <h2 class='title is-1 is-offset-5' style="color:white">{{title}}</h2>
            <div id = "Input field" class = "columns">
                <input class = "column input" v-model="word" placeholder="Search for word">
                <button class = "button is-2" @click="sumitSearch(word)">Submit</button>
            </div> 
            <div class = "buttons">
                <button class="button is-info is-light" @click="getSejm()">Sejm</button>
                <button class="button is-info is-light" @click="getParty()">Partie</button>
                <button class="button is-info is-light" @click="getPoselsFromSejm()">Posełowie</button>

                <button class="button is-warning is-light is-small timeline" @click="changeTimeline(1)">1 Dzień</button>
                <button class="button is-warning is-light is-small timeline" @click="changeTimeline(7)">1 Tydzień</button>
                <button class="button is-warning is-light is-small timeline" @click="changeTimeline(30)">1 Miesiąc</button>
            </div> 
            <div class = "buttons" v-if = "showParties">
                <button class="button is-warning is-light" v-for="party in parties" @click="getPoselsFromParty(party)">{{party.name}}</button>
            </div>
            <div class = "buttons are-small" v-if = showPoliticsFromParty>
                <button class="button is-success is-light" v-for = "politic in politics" @click="getPoliticainWords(politic)">{{politic.name}} {{politic.surname}}</button>
            </div>
            <div class = "buttons are-small" v-if = showPoliticsFromSejm>
                <button class="button is-success is-light" v-for = "politic in politics" @click="getPoliticainWords(politic)">{{politic.name}} {{politic.surname}}</button>
            </div>
        </div>
        <div class = "tableContainer" v-if="showPoliticsWords">
            <table class="table is-fullwidth is-hoverable is-striped myTable"> <!-- Table will show data that we want to output -->
                <thead>
                  <tr>
                    <th class="row "><abbr title="Numers">Nr</abbr></th>
                    <th class="row is-two-thirds ">Polityk</th>
                    <th class="row"><abbr title="Word">Słowo</abbr></th>
                    <th class="row"><abbr title="TweetCount">Liczba wystąpień</abbr></th>
                  </tr>
                </thead>
                <tbody>
                    <div id ="Table">
                        <tr v-for = "(tweet,index) in tweets">
                            <th>{{index+1}}</th>
                            <td><p>{{tweet.name}}</p></td>
                            <td>{{tweet.word}}</td>
                            <td>{{tweet.count}}</td>
                        </tr>
                    </div>
                </tbody>
              </table>
        </div>
        <div class = "tableContainer" v-if="showPartyWords">
            <table class="table is-fullwidth is-hoverable is-striped myTable"> <!-- Table will show data that we want to output -->
                <thead>
                  <tr>
                    <th class="row "><abbr title="Numers">Nr</abbr></th>
                    <th class="row is-two-thirds ">Partia</th>
                    <th class="row"><abbr title="Word">Słowo</abbr></th>
                    <th class="row"><abbr title="TweetCount">Liczba wystąpień</abbr></th>
                  </tr>
                </thead>
                <tbody>
                    <div id ="Table">
                        <tr v-for = "(tweet,index) in tweets">
                            <th>{{index+1}}</th>
                            <td><p>{{tweet.name}}</p></td>
                            <td>{{tweet.word}}</td>
                            <td>{{tweet.count}}</td>
                        </tr>
                    </div>
                </tbody>
              </table>
        </div>
        <div class = "tableContainer" v-if="showSejmWords">
            <table class="table is-fullwidth is-hoverable is-striped myTable"> <!-- Table will show data that we want to output -->
                <thead>
                  <tr>
                    <th class="row "><abbr title="Numers">Nr</abbr></th>
                    <th class="row"><abbr title="Word">Słowo</abbr></th>
                    <th class="row"><abbr title="TweetCount">Liczba wystąpień</abbr></th>
                  </tr>
                </thead>
                <tbody>
                    <div id ="Table">
                        <tr v-for = "(tweet,index) in tweets">
                            <th>{{index+1}}</th>
                            <td>{{tweet.word}}</td>
                            <td>{{tweet.count}}</td>
                        </tr>
                    </div>
                </tbody>
              </table>
        </div>

    </div>
    </body>
</html>