.search-field{
    
   align-items: center; 
}

.buttons-center{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.title{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

body{
    background-color: 	#7594d8;
    max-width: 10000px;
    margin: 20px auto;
    padding-bottom: 50px;
    min-height: 1600px;

}

.myTable{
    border-radius: 4px;
    background-color: wheat;
}

.tableContainer{
    margin-left: 80px;
    width: 635px;
    border-radius: 100px;
}

.buttons{
    position:relative;
    left:-10px;
}

.timeline{
    position:relative;
    left: 95px;
}