.search-field{
    
   align-items: center; 
}

.buttons-center{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.title{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

body{
    height: 1600px;
    background-color: 	#47b1f3;
    max-width: 10000px;
    margin: 20px auto;
    padding-bottom: 50px;

}

.myTable{
    border-radius: 4px;
    background-color: wheat;
}


.buttons{
    position:relative;
    left:-10px;
}