.search-field{
    
   align-items: center; 
}

.buttons-center{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.title{
    text-align: center;
}

body{

    height: 10000mm;
    background-color: 	#1DA1F2;
    max-width: 10000px;
    margin: 20px auto;

}

.myTable{
    background-color: wheat;
}


.buttons{
    position:relative;
    left:-10px;
}